/*body*/
body, html{
  
    width: auto;
    height: auto;
    display:flexbox;
    align-items: center;
    ;
    background-color: #A736C3 ;
    font-family: 'Jaro', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(243, 236, 236);
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    background-size:auto;
    
}

/*navbar*/
.navbar{
    border-radius: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0c800;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(14, 13, 13, 0.3);

}

.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
}

.nav-center h1{
    font-size: 24px;
    font-family: 'Jaro' sans-serif;
    font-weight: bold;
    margin: 0;
}

.nav-left a, .nav-right a {
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #9b59b6;
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-family: 'Jaro', sans-serif;
    font-weight: bold;
}

.nav-left a:hover, .nav-right a:hover {
background-color: #7f40a3;

}
/*imgs*/

.girl_and_dog{

    position: relative;
    width: 492px;
    height: 572px;
    align-items:center;
    max-width: 600px;
    max-height: 550px;
    border-radius: 10px;
    margin-left: 60%;
    margin-right: 30px;

}

.cat{

    rotate: 20.1deg;
    position: relative;
    display: flexbox;
    left: -400px;
    top: -670px;
    z-index: 1;
    align-items: first baseline;
}

.heart{

    color: #ca7cf6;
    position: relative;
    left: -670px;
    top: -600px;
    display: flexbox;
    margin: auto;
    rotate: 0deg;
    z-index: 2;

}

.turtle{

    z-index: 3;
    rotate: -368.54deg;
    position: relative;
    align-items: first baseline;
    width: 370px;
    height: 370px;
    display: flexbox;
    top: -400px;


}

.house{
    position: relative;
    width: 170px;
    height: 170px;
    top: 60px;
    display: flexbox;
    align-items: center;
    text-align: center;
    left: 580px;
    padding: 30px;

}



.dog_cat{

    rotate:  -25.47deg;
    position:absolute;
    width: 250px;
    height: 240px;
    margin-left: 8%;
    display: flexbox;
    top: 350px;
    left:-12px;
}

.cat_on_tree{
    border-radius: 8%;

    width: 300px;
    max-height: 400px;
    margin-left: 30px;
    margin-left: 78%;
    margin-right: 30px;
}

.vetic_cat{
    position: relative;
    display: flexbox;
    align-items: end;
    border-radius: 12px;
    top: -280px;
    

}

.orange_cat{
    position: relative;
    display: flexbox;
    align-items: center;
    border-radius: 32px;
    top: -910px;
    left: 450px;
    width: 350px;
    height: 430px;
}

.acessories{
    position: relative;
    display: flexbox;
    border-radius: 32px;
    top: -238vh;
    left: 900px;
    width: 350px;
    height: 430px;


}

/*text*/

ul{list-style-type: none;}

h1{
    color: #000;
}

h4{
    background-color: #d9a7e0;
    border-radius: 15px;
    font-size: 26px;
    margin-top: -40px;
    margin-bottom: 40px;
    display: flexbox;
    text-align: center;
    max-width: 300px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 500px;

}

h2{
    border-radius: 32px;
    text-align: center;
    background-size:auto;
    background-color: #FFDE59;
    position:relative;
    font-size: 46px;
    padding-right: 30px 30px;
    align-items:center ;
    top: 100px;
    
}

h3{

    top: -300px;
    font-size:60px;    
    border-radius: 32px;
    padding-right: 30px 30px;
    align-items: center;
    position: relative;
    display: flexbox;
    background-color: #FFDE59;
    background-size: auto;
    text-align: center;
    width: 1473;
    height: 224;
    color: #000;
}

#rectangle{
    text-align: center;
    font-size: 40px;
    size: 300px;
    border-radius: 32px;
    background-color: #630070;
    top: -140vh;
    position: relative;
}

.agora{
    background-color: #d6da14;
    font-size: 20px;
    border-radius: 32px;
    width: 150px;
    height: 100px;
    font-family: 'Jaro', sans-serif;
    color: #fff;

}

.trt{

    position: relative;
    background-color: #3ACFDA ;
    background-size: auto;
    left: 100px;
    top: -300px;
    font-size:20px;
    display: flexbox;
    
}
.tratamento_comprovado{

    display: flexbox;
    text-align: left;
    position: relative;
    
    left: 0px;
    top: -290px;

}

.ad{

    position: relative;
    background-color: #3ACFDA;
    background-size: auto;
    list-style-type: none;
    display: flexbox;
    font-size: 20px;
    left: 600px;
    top: -929px;

}

.acolhimento{

    position: relative;
    top: -927px;
    left: -18px;
    align-items:end;
    font-size: 15px;

}

.sec{
    position: relative;
    background-color: #3ACFDA;
    display: flexbox;
    background-size: auto;
    align-items: center;
    left: 1000px;
    top: -1500px;
    font-size: 20px;

}

.security{
    position: relative;
    display: flexbox;
    background-size: auto;
    
    text-align: center;
    top: -1480px;
    left: 400px;
    font-size: 17px;



}

.porquê{

    display: flexbox;
    font-size: larger;
    margin: auto;
    top: 100px;
    color: #fff;
    align-items: center;
    text-align: center;
    padding-right: auto;
    position: relative;
}

p{

    display: flexbox;
    font-size: larger;
    position: relative;
    align-items: center;
    text-align: center;


}

.nos_ajude{
    
    color: white;
    font-size: 25px;
    display: flexbox;
    padding: auto;
    top: 230px;
    position: absolute;
    left: 380px;

}

.doe{
    cursor: pointer;
    border-radius: 38px;
    padding: 20px;
    display: flexbox;
    font-size: 20px;
    color: rgb(5, 41, 41);
    background-color: #d6da14;
    top: 380px;
    left: 530px;
    position: absolute;
}

#retangle2{
    font-size: 20px;
    size: 300px;
    border-radius: 32px;
    background-color: #453838;
    position: relative;

}
.footer{
    
    position:absolute;
    left: 600px;
    top: -00px;

}

.h7{
    position: relative;
    text-align: center;
    left: 1000px;

}

.logo{
    position:relative;
    left: 570px;
    top: -2px;
    size: 300px;
    width:300px; 
    height:240px; 
}
